#nuxt-press.slides {
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  & .swiper-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .swiper-pagination-progressbar {
      top: auto;
      bottom: 0px;
      & .swiper-pagination-progressbar-fill {
        background-color: #42b883;
      }
    }
    & .swiper-button-prev {
      left: 10px;
      right: auto;
      background-image: url(~press/slides/assets/arrow-left.svg);
    }
    & .swiper-button-next {
      right: 10px;
      left: auto;
      background-image: url(~press/slides/assets/arrow-right.svg);
    }
  }
  & .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    & > * {
      font-size: 2em;
      margin-bottom: 1.2em;
    }
  }
  & .swiper-slide:first-of-type {
    transform: scale(3.0);
  }
}
