sandbox

# Dependencies
node_modules

# Lock files
package-lock.json
*/**/yarn.lock

# Logs
*.log
*.logs

# Build/dist folders
.nuxt*
dist
CHANGELOG.md

# Coverage reports
reports
coverage
*.lcov
.nyc_output

# Editors
*.iml
.idea
.vscode

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Env vars
.env*

# Test files
src/blueprints/blog/test/fixtures/*/static/rss.xml

