:root {
  box-sizing: border-box;  
  font-family: sans-serif;
}

html.blog #__layout {
  width: 740px !important;
  margin: 0px auto;
}

#nuxt-press.blog {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 100vh;

  & .sidebar {
    background: linear-gradient(-90deg, rgba(244,244,244,1.0) 50%, rgba(255,255,255,1.0) 95%, rgba(255,255,255,1.0) 100%);
    border-right: 1px solid #000;
    flex-basis: 25%;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    & .about {
      margin: 15px 0px;
      margin-bottom: 100px;
      & p {
        margin: 0;
        font-size: 28px;
        display: table-caption;
        text-align: right;
      }
      & .text-links {
        margin-top: 100px;
        & a {
          font-size: 15px;
          display: block;
          text-align: right;
          &:hover {
            border-bottom: none;
            text-decoration: underline;
          }
        }
      }
    }
  }

  & .content {
    flex-basis: 75%;
    padding: 20px;

    & code {
      font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
      font-size: 1em;
      color: #669900;
      font-weight: bold;
    }

    & a {
      margin: 0px;
      margin-bottom: 5px;
      color: #000 !important;
      padding: 0px;
      & code {
        background: none;
      }
      &:hover {
        border-bottom: none;
      }
      & img {
        display: inline-block;
        width: 30px;
        height: auto;
      }
    }

    & .h1 {
      font-size: 17px;
      margin-left: 10px;
    }

    & .h2 {
      font-size: 16px;
      margin-left: 20px;
    }

    & .h3 {
      font-size: 15px;
      margin-left: 30px;
    }

    & blockquote {
      font-style: italic;
      font-size: 0.9em;
      margin-left: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 10px;
      margin-right: 0px;
      border-left: 3px solid #555555;
    }

    /* prismjs override */
    & pre,
    & pre[class*="language-"] {
      background: #f6f8fa;
      padding: 15px;
      & > code {
        font-size: 0.9em !important;
      }
    }
  }
}
