
#nuxt-press.blog {
  width: 740px !important;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  & .content {
    background: linear-gradient(90deg, rgba(244,244,244,1.0) 50%, rgba(255,255,255,1.0) 95%, rgba(255,255,255,1.0) 100%);
    flex-basis: 75%;
    padding: 20px;
    & pre,
    & pre[class*="language-"] {
      background: #fff !important;
    }
  }
}
