
#nuxt-press.blog {
  width: 740px !important;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  & .h1 {
    font-size: 17px;
    margin-left: 10px;
  }
  & .h2 {
    font-size: 16px;
    margin-left: 20px;
  }
  & .h3 {
    font-size: 15px;
    margin-left: 30px;
  }
  & .sidebar {
    border-right: 1px solid #000;
    flex-basis: 25%;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    & .about {
      margin: 15px 0px;
      margin-bottom: 100px;
      font-size: 28px;
      display: table-caption;
      text-align: right;
      & .text-links {
        margin-top: 100px;
        & a {
          font-size: 15px;
          text-decoration: underline !important;
          display: block;
        }
      }
    }
    & a {
      display: block;
      margin: 0px;
      margin-bottom: 5px;
      padding: 0px;
      text-align: right;
      & img {
        display: inline-block;
        width: 30px;
        height: auto;
      }
    }
  }
  & .content {
    background: linear-gradient(90deg, rgba(244,244,244,1.0) 50%, rgba(255,255,255,1.0) 95%, rgba(255,255,255,1.0) 100%);
    flex-basis: 75%;
    padding: 20px;
    & pre,
    & pre[class*="language-"] {
      background: #fff !important;
    }
  }
}
