:root {
  box-sizing: border-box;  
  font-family: sans-serif;
}

html.blog #__layout {
  width: 740px !important;
  margin: 0px auto;
}

@custom-media --mobile only screen and (max-device-width: 812px), (max-width: 812px);

#nuxt-press.docs {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0;

  & a, & a:active, & a:visited {
    color: #555;
    text-decoration: none;
  }
  & a:hover {
    color: #999;
  }

  & > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    padding: .7rem 0.5rem;

    & .mobile-toggle {
      display: none;
    }
  
    & .home-link {
      font-size: 1.5rem;
      font-weight: bold;
      vertical-align: middle;
      line-height: 1.6rem;
      padding-left: 0;
    }
  
    & nav.links {
      position: relative;
      right: 1rem;
  
      & ul {
        display: flex;
        margin: 0;
        list-style-type: none;
  
        & li {
          margin: 0;
        }
  
        & .nav-item {
          line-height: 1.5rem;
          padding: 0 .5rem 0 .5rem;
        }
      }
    }
  }

  & > .sidebar {
    position: fixed;
    width: 15rem;
    padding-right: 2rem;
    top: 3rem;
    bottom: 0;
    z-index: 2;
    border-right: 1px solid #e5e5e5;
    padding: 1.4rem 0 0 0;
    font-size: 1.1rem;
    text-align: left;
    overflow-y: auto;

    & .mobile-toggle {
      display: none
    }
  
    & ul {
      margin: 0;
      padding: 0;
    }
  
    & li {
      list-style-type: none;
      margin: 0px;
      margin-bottom: 3px;
      padding: 0px;
      & a.active {
        font-weight: bold;
      }
    }
  
    & .sidebar-title {
      display: inline-block;
      margin: 1rem 0 0.7rem 0;
    }
  
    & .sidebar-heading {
      margin: 0;
    }
  
    & .sidebar-depth-0 > li,
    &.sidebar-auto .sidebar-depth-1 > li {
      margin: 0 0 1rem 0;
    }
  
    & li.sidebar-item,
    & li.sidebar-section .sidebar-heading {
      padding-left: 0.7rem;
    }
  
    & li li.sidebar-item,
    & li li.sidebar-section .sidebar-heading {
      padding-left: 1.4rem;
    }
  
    & li li li.sidebar-item,
    & li li li.sidebar-section .sidebar-heading {
      padding-left: 2.1rem;
    }
  
    & li li li li.sidebar-item {
      padding-left: 2.8rem;
    }
  }

  & > .content {
    z-index: 1;
    padding: 3rem 1.4rem 1.4rem 1.4rem;
    font-size: 1.1rem;

    &.has-sidebar {
      padding-left: 15.4rem;
    }

    & .home {
      padding: 0 2rem 0;
      max-width: 960px;
      margin: 0px auto;
      display: block;

      & .hero {
        text-align: center;

        & img {
          max-width: 100%;
          max-height: 280px;
          display: block;
          margin: 3rem auto 1.5rem;
        }

        & h1 {
          font-size: 3rem;
        }

        & h1,
        & .description,
        & .action {
          margin: 1.8rem auto;
        }

        & .description {
          max-width: 35rem;
          font-size: 1.6rem;
          line-height: 1.3;
        }

        & .action-button {
          display: inline-block;
          font-size: 1.2rem;
          padding: 0.8rem 1.6rem;
          border-radius: 4px;
          transition: background-color .1s ease;
          &:hover {
            border-bottom: none;
          }
        }
      }

      & .features {
        padding: 1.2rem 0;
        margin-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: stretch;
        justify-content: space-between;
      }

      & .feature {
        flex-grow: 1;
        flex-basis: 30%;
        max-width: 30%;

        & h2 {
          font-size: 1.4rem;
          font-weight: 500;
          border-bottom: none;
          padding-bottom: 0;
        }
      }

      & .footer {
        padding: 2.5rem;
        text-align: center;
      }
    }

    & article {
      line-height: 1.6rem;
      margin: 0 auto;
      max-width: 720px;

      & h1 {
        font-size: 2rem;
      }
      & h2 {
        font-size: 1.8rem;
      }
      & h3 {
        font-size: 1.6rem;
      }

      & h1, & h2, & h3, & h4, & h5, & h6 {
        margin-top: 40px;
      }
  
      & h2 {
        &:not(:first-of-type) {
          margin-top: 70px;
        }
      }

      & h3 {
        & span {
          color: #2f495e !important;
          text-shadow: 1px 1px #fff;
          margin-bottom: 0px;
          border-bottom: 2px solid #2f495e;
        }

        &:not(:first-of-type) {
          margin-top: 70px;
        }
      }

      & a {
        font-weight: bold;
        color: #669900 !important;
        & code {
          background: none;
        }
        &:hover {
          color: #93dd00 !important;
        }
      }

      & blockquote {
        font-style: italic;
        font-size: 0.9em;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-right: 0px;
        border-left: 3px solid #555555;
      }

      & code {
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        font-size: 1em;
        color: #669900;
        font-weight: bold;
        padding: 0.2em;
      }
      /* prismjs override */
      & pre,
      & pre[class*="language-"] {
        background: #f6f8fa;
        padding: 15px;
        & > code {
          padding: 0px;
          font-size: 0.9em !important;
        }
      }

      & table {
        width: 100%;
        border-collapse: collapse;
        & th {
          font-weight: 600;
        }
        & td,
        & th {
          border: 1px solid #dfe2e5;
          padding: 6px 13px;
        }
        & tr {
          background-color: #fff;
          border-top: 1px solid #c6cbd1;
        }
        & tr:nth-child(2n) {
          background-color: #f6f8fa;
        }
      }
    }
  }
}

@media (--mobile) {
  #nuxt-press.docs {
    display: flex;
    height: 100vh;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    margin: 0;
  
    & a, & a:active, & a:visited {
      color: #555;
      text-decoration: none;
    }
    & a:hover {
      color: #999;
    }
  
    & > header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      background-color: #fff;
      border-bottom: 1px solid #e5e5e5;
      z-index: 3;
      display: flex;
      justify-content: space-between;
      padding: .7rem 0.5rem;
    
      & .mobile-toggle {
        display: block;
        margin-left: 1rem;
        align-self: center;
        user-select: none;
        cursor: pointer;
      }

      & .home-link {
        font-size: 1.5rem;
        font-weight: bold;
        vertical-align: middle;
        line-height: 1.6rem;
        margin-right: 2rem;
      }
    
      & nav.links {
        display: none;
      }
    }
  
    & > .sidebar {
      display: none;
      position: fixed;
      top: 0;
      z-index: 1000;
      background: #fff;

      &.mobile-visible {
        display: block;
      }
    
      & .mobile-toggle {
        display: block;
        position: absolute;
        user-select: none;
        cursor: pointer;
        top: 1rem;
        right: 1rem;
      }
    }
  
    & > .content {
      font-size: 0.9rem;

      & .home {
        max-width: 500px;
        & .description {
          max-width: 500px;
        }
      }

      &.has-sidebar {
        padding-left: 1.4rem;
      }
  
      & article {  
        & h1 {
          font-size: 1.2rem;
        }
        & h2 {
          font-size: 1rem;
        }
        & h3 {
          font-size: 1.6rem;
        }

        & h1, & h2, & h3, & h4, & h5, & h6 {
          margin-top: 20px;
        }
    
        & h2 {
          &:not(:first-of-type) {
            margin-top: 50px;
          }
        }
  
        & h3 {
          &:not(:first-of-type) {
            margin-top: 50px;
          }
        }
  
        & code {
          font-size: 0.8em;
        }
        /* prismjs override */
        & pre,
        & pre[class*="language-"] {
          & > code {
            font-size: 0.7em !important;
          }
        }
      }
    }
  }  
}
