:root {
  box-sizing: border-box;  
  font-family: sans-serif;
}

html.blog #__layout {
  width: 740px !important;
  margin: 0px auto;
}

#nuxt-press.docs {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0;

  & a, & a:active, & a:visited {
    color: #555;
    text-decoration: none;
  }
  & a:hover {
    color: #999;
  }

  & > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 3;
  }

  & > .sidebar {
    position: fixed;
    width: 20rem;
    top: 3rem;
    bottom: 0;
    z-index: 2;
  }

  & > .content {
    z-index: 1;
    padding: 3rem 1.4rem 1.4rem 1.4rem;
    font-size: 1.1rem;

    &.has-sidebar {
      padding-left: 21.4rem;
    }

    & article {
      line-height: 1.6rem;
      margin: 0 auto;
      max-width: 720px;

      & h1, & h2, & h3, & h4, & h5, & h6 {
        margin-top: 40px;
      }
  
      & h2 {
        &:not(:first-of-type) {
          margin-top: 70px;
        }
      }

      & h3 {
        user-select: none;
        & span {
          color: #2f495e !important;
          text-shadow: 1px 1px #fff;
          margin-bottom: 0px;
          border-bottom: 2px solid #2f495e;
        }

        &:not(:first-of-type) {
          margin-top: 70px;
        }
      }

      & a {
        font-weight: bold;
        color: #669900 !important;
        &:hover {
          color: #93dd00 !important;
        }
      }

      & blockquote {
        font-style: italic;
        font-size: 0.9em;
        margin-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-right: 0px;
        border-left: 3px solid #555555;
      }

      & table {
        width: 100%;
        border-collapse: collapse;
        & th {
          font-weight: 600;
        }
        & td,
        & th {
          border: 1px solid #dfe2e5;
          padding: 6px 13px;
        }
        & tr {
          background-color: #fff;
          border-top: 1px solid #c6cbd1;
        }
        & tr:nth-child(2n) {
          background-color: #f6f8fa;
        }
      }
    }
  }
}
