
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

#nuxt-press.docs {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0;

  & header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    z-index: 3;
  }

  & > nav {
    position: fixed;
    width: 18rem;
    top: 3rem;
    bottom: 0;
  }

  & main.content {
    padding: 3rem 1.4rem 1.4rem 19.4rem;
    font-size: 1.1rem;

    & article {
      line-height: 1.4rem;
      margin: 0 auto;
      max-width: 660px;

      & h3 {
        user-select: none;
        & span {
          color: #2f495e !important;
          text-shadow: 1px 1px #fff;
          margin-bottom: 0px;
          border-bottom: 2px solid #2f495e;
        }

        &:not(:first-of-type) {
          margin-top: 50px;
        }
      }

      & a {
        font-weight: bold;
        color: #669900 !important;
        &:hover {
          color: #93dd00 !important;
        }
      }
    }
  }
}
