
body {
  margin: 0;
}

#nuxt-press.docs {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0;

  & header {
    display: flex;
    flex: 0 64px;
  }

  & main {
    display: flex;
    flex: 1;

    & nav {
      flex: 0 0 256px;
      order: -1;
    }

    & article.content {
      flex: 1;
      padding: 1.4em;
      height: calc(100vh - 64px - 2.8em);
      overflow-y: scroll;

      & h3 {
        user-select: none;
        & span {
          color: #2f495e !important;
          text-shadow: 1px 1px #fff;
          margin-bottom: 0px;
          border-bottom: 2px solid #2f495e;
        }
        &:not(:first-of-type) {
          margin-top: 50px;
        }
      }
      & a {
        font-weight: bold;
        color: #669900 !important;
        &:hover {
          color: #93dd00 !important;
        }
      }
    }
  }
}
